@import './element-variables.scss';
@import './normalize.scss';
@import './variables.scss';
@import './transition.scss';
@import './table.scss';
@import './theme.scss';
@import './main.css';

.scrollbar-wrapper {
  overflow-x: hidden !important;
}

.el-menu{
  width: 100% !important;
  height: 100%;
  border: none !important;
}

.hiden-side-bar {
  // set side bar width is 54px
  width: 54px !important;
  .el-submenu__icon-arrow {
    display: none;
  }
  .item-title{
    display: none;
  }
}

.el-scrollbar {
  height: calc(100% - 50px) !important;
  overflow: hidden;
}

// main-app class
.main-container{
  box-sizing: border-box;
  position: relative;
  padding: $mainPadding;
  height: 100%;
  width: 100%;
}
