@import "./variables.scss";

.theme-1 {
  $activeColor: #f41766;
  .side-bar-theme {
    background-color: $theme1_menuBg;
  }
  .el-menu .is-opened .el-menu-item {
    background-color: $theme1_menuDarkBg !important;
  }

  .el-menu .el-submenu__title:hover {
    background-color: $theme1_menuHoverBg !important;
  }

  .el-menu .el-submenu__title i {
    color: $theme1_menuColor;
  }

  .el-menu .el-menu-item:hover {
    background-color: $theme1_menuHoverBg !important;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title {
    background-color: $theme1_menuDarkBg !important;
  }

  .el-menu-item.is-active {
    color: $activeColor;
  }
  .el-tag--plain {
    border-color: $activeColor;
    color: $activeColor;
  }
  .el-tag--dark {
    background-color: $activeColor;
    border-color: $activeColor;
  }
  .el-tag--dark .el-tag__close {
    color: #ffffff;
  }
  .el-tag--plain .el-tag__close {
    color: $activeColor;
  }
  .el-tag--dark .el-tag__close:hover,
  .el-tag--plain .el-tag__close:hover {
    background-color: $activeColor;
    color: #ffffff;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title:hover {
    background-color: $theme1_menuHoverBg !important;
  }

  .logo-container {
    background-color: $theme1_menuDarkBg;
  }

  .show-side-bar {
    box-shadow: 2px 0 8px $theme1_menuDarkBg;
  }

  .icon-class:hover {
    cursor: pointer;
    color: $activeColor;
  }
}

.theme-2 {
  $activeColor: #ffffff;
  .side-bar-theme {
    background-color: $theme2_menuBg;
  }
  .el-menu .is-opened .el-menu-item {
    background-color: $theme2_menuDarkBg !important;
  }

  .el-menu .el-submenu__title:hover {
    background-color: $theme2_menuHoverBg !important;
  }

  .el-menu .el-submenu__title i {
    color: $theme2_menuColor;
  }

  .el-menu .el-menu-item:hover {
    background-color: $theme2_menuHoverBg !important;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title {
    background-color: $theme2_menuDarkBg !important;
  }

  .el-menu-item.is-active {
    color: $activeColor;
    background: linear-gradient($theme2_menuDarkBg, $theme2_menuBg, $theme2_menuDarkBg) !important;
  }
  .el-tag--plain {
    border-color: $theme2_menuBg;
    color: $theme2_menuBg;
  }
  .el-tag--dark {
    background-color: $theme2_menuBg;
    border-color: $theme2_menuBg;
  }
  // nav-bar tag 样式
  .el-tag--dark .el-tag__close {
    color: #ffffff;
  }
  .el-tag--plain .el-tag__close {
    color: $theme2_menuBg;
  }
  .el-tag--dark .el-tag__close:hover,
  .el-tag--plain .el-tag__close:hover {
    background-color: $theme2_menuDarkBg;
    color: #ffffff;
  }
  // nav-bar tag 样式

  .el-menu .el-submenu .el-submenu .el-submenu__title:hover {
    background-color: $theme2_menuHoverBg !important;
  }

  .logo-container {
    background-color: $theme2_menuDarkBg;
  }

  .show-side-bar {
    box-shadow: 2px 0 8px $theme2_menuDarkBg;
  }

  .icon-class:hover {
    cursor: pointer;
    color: $theme2_menuBg;
  }
}
