.theme_color_black .theme-dark-side {
  .is-opened .el-menu-item.is-active {
    background-color: #0a243e !important;
  }
}
.theme_color_blue .theme-dark-side {
  .is-opened .el-menu-item.is-active {
    background-color: #409eff !important;
  }
}
.theme_color_red .theme-dark-side {
  .is-opened .el-menu-item.is-active {
    background-color: #f5222d !important;
  }
}
.theme_color_purple .theme-dark-side {
  .is-opened .el-menu-item.is-active {
    background-color: #722ed1 !important;
  }
}
.theme_color_cyan .theme-dark-side {
  .is-opened .el-menu-item.is-active {
    background-color: #13c2c2 !important;
  }
}
