@charset "utf-8";
@import './theme.scss';

// nav-bar-height
$navBarHeight: 49px;

$tagViewHeight: 40px;

// sidebar
$app-left-menu-width: 250px;

$mainPadding: 2px;

:export {
  left_menu_width: $app-left-menu-width;
  navBarHeight: $navBarHeight;
  tagViewHeight: $tagViewHeight;
}
