@import "../variables.scss";

.theme-dark {
  $activeColor: #f8ddb2;

  // logo class
  .logo-container {
    background-color: $theme_dark_menuDarkBg;
  }

  .logo-border-bottom {
    border-bottom: 1px solid $theme_dark_menuBg;
  }
  // logo class

  .side-bar-theme {
    background-color: $theme_dark_menuBg;
  }
  .el-menu .is-opened .el-menu-item {
    background-color: $theme_dark_menuDarkBg !important;
  }

  .el-menu .el-submenu__title:hover {
    background-color: $theme_dark_menuHoverBg !important;
  }

  .el-menu .el-submenu__title i {
    color: $theme_dark_menuColor;
  }

  .el-menu .el-menu-item:hover {
    background-color: $theme_dark_menuHoverBg !important;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title {
    background-color: $theme_dark_menuDarkBg !important;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title:hover {
    background-color: $theme_dark_menuHoverBg !important;
  }

  .el-menu-item.is-active {
    color: $activeColor;
  }
  .el-tag--plain {
    border-color: $activeColor;
    color: $activeColor;
    background-color: $theme_dark_menuDarkBg;
  }
  .el-tag--dark {
    background-color: $activeColor;
    border-color: $activeColor;
    color: $theme_dark_menuDarkBg;
  }
  .el-tag--dark .el-tag__close {
    color: $theme_dark_menuDarkBg;
  }
  .el-tag--plain .el-tag__close {
    color: $activeColor;
  }
  .el-tag--dark .el-tag__close:hover,
  .el-tag--plain .el-tag__close:hover {
    background-color: $theme_dark_menuDarkBg;
    color: #ffffff;
  }

  .show-side-bar {
    box-shadow: 2px 0 8px $theme_dark_menuDarkBg;
  }

  .icon-class:hover {
    cursor: pointer;
    color: $activeColor;
  }

  // nav bar theme
  .nav-bar-theme {
    background-color: $theme_dark_menuDarkBg;
  }

  .icon-class,
  .hamburger,
  .breadcrumb-title,
  .el-dropdown-link {
    color: #ffffff;
  }

  // tag view theme
  .tag-view-theme {
    background-color: $theme_dark_menuBg;
    top: 49px;
    padding: 6px 10px;
    border-bottom: none;
  }

  // app main theme
  .app-main-theme {
    background-color: $theme_dark_menuDarkBg;
  }

  .el-card {
    background-color: $theme_dark_menuDarkBg;
    border: 1px solid $activeColor;
    color: #fff;
    .el-card__header {
      border-bottom: none;
    }
    .el-link.el-link--default {
      color: $activeColor;
    }
  }

  .el-table {
    background-color: $theme_dark_menuDarkBg;
    color: #9e9e9e;
    thead {
      color: #ffffff;
    }
    .hover-row {
      background-color: $theme_dark_menuBg !important;
    }
    th,
    tr {
      background-color: $theme_dark_menuDarkBg !important;
    }
    th.is-leaf,
    td {
      border-bottom: 1px solid #828282;
    }
  }
  .el-table::before {
    display: block;
  }

  .el-dialog {
    background-color: $theme_dark_menuDarkBg !important;
    .el-dialog__header {
      border-bottom: 2px solid $activeColor;
    }
    .el-dialog__footer {
      border-top: 2px solid $activeColor;
    }
    .el-dialog__title {
      color: $activeColor;
    }
  }

  .el-card,
  .el-form,
  .el-pagination {
    .el-input-number__increase,
    .el-input-number__decrease,
    .el-range-input {
      background-color: $theme_dark_menuDarkBg !important;
    }
    .el-radio-button__inner,
    .el-textarea__inner,
    .el-input__inner {
      color: #fff;
      border: 1px solid $activeColor;
      background-color: $theme_dark_menuDarkBg !important;
    }
  }

  .el-tabs {
    .el-tabs__header {
      background-color: $theme_dark_menuDarkBg !important;
    }
    .el-tabs__item {
      color: $activeColor;
    }
    .el-tabs__item.is-active {
      color: #1890ff;
    }
  }

  .el-steps {
    .el-step__title.is-process {
      color: #c0c4cc !important;
    }
  }

  .editor-toolbar a {
    color: #94c2f7 !important;
  }

  .CodeMirror {
    background-color: #5a5a5a;
  }
}
