$theme_light_menuBg: #ffffff;
$theme_light_menuDarkBg: #ffffff;
$theme_light_menuHoverBg: #ffffff;
$theme_light_menuColor: #515a6e;
$theme_light_activeColor: #047fff;

.theme-light {
  $activeColor: #047fff;

  .logo-border-bottom {
    border-bottom: 1px solid #f5f5f5;
  }

  .logo-container {
    background-color: $theme_light_menuDarkBg;
  }

  .side-bar-theme {
    background-color: $theme_light_menuBg;
  }

  .show-side-bar {
    box-shadow: 2px 0 8px #d0d0d0;
  }

  .logo-container,
  .el-menu-item,
  .el-submenu__title {
    color: #515a6e;
  }

  .el-menu .is-opened .el-menu-item {
    background-color: $theme_light_menuDarkBg !important;
  }

  .el-menu .el-submenu__title:hover {
    color: $activeColor !important;
    background: #ffffff !important;
  }

  .el-menu .el-submenu__title i {
    color: $theme_light_menuColor;
  }

  .el-menu .el-menu-item:hover {
    color: $activeColor !important;
    background: #ffffff !important;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title {
    background-color: $theme_light_menuDarkBg !important;
  }

  .el-menu .el-submenu .el-submenu .el-submenu__title:hover {
    background-color: $theme_light_menuHoverBg !important;
  }

  .el-menu-item.is-active {
    color: $activeColor;
    background: linear-gradient(to right, #f0faff, #dceef7) !important;
    border-right: 2px solid #2d8cf0;
  }

  .icon-class:hover {
    cursor: pointer;
    color: $activeColor;
  }

  // nav bar theme
  .nav-bar-theme {
    background-color: $theme_light_menuBg;
  }

}
:export{
  theme_light_menuBg: $theme_light_menuBg;
  theme_light_menuHoverBg: $theme_light_menuHoverBg;
  theme_light_menuColor: $theme_light_menuColor;
  theme_light_activeColor: $theme_light_activeColor;
  theme_light_mainBg: #f5f7f9;
}
